@import-normalize;
@import "reset-css";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

html{
    font-size: 10px;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
}

*, *::before, *::after{
    font-size: inherit;
    box-sizing: inherit;
}

img{
    max-width: 100%;
}