$desktop: 1440px;
$table: 768px;

.footer{
    background-image: url("../assets/mobile/image-footer.jpg");
    background-position: center top;
    background-size: cover;
    background-color: var(--color-green);
    background-blend-mode: soft-light;
    display: grid;
    grid-template: 
        1fr
        / 32.7rem
    ;
    justify-content: center;
    justify-items: center;

    padding: 9.2rem 0 7.2rem 0;


    @media(min-width: $table){
        background-image: url("../assets/tablet/image-footer.jpg");
        padding: 9.2rem 0 6.6rem 0;
        grid-template: 
            1fr
            / 57.3em
        ;
    }
    @media(min-width: $desktop){
        background-image: url("../assets/desktop/image-footer.jpg");
        grid-template: 
            auto
            / 35rem  35rem 19.3rem
        ;
        justify-items: center;
        align-items: center;
        justify-content: space-evenly;
    }
    &__title{
        color: var(--color-white);
        @media(min-width: $table){
            width: 45.7rem;
        }
    }
    &__message{
        color: var(--color-white);
        margin: 2.4rem 0 3.2rem 0;
        @media(min-width: $table){
            margin: 3.2rem 0 4rem 0;
        }
    }
}