#root{
    --color-green: #4D96A9;
    --color-blue: #8FE3F9;
    --color-purple-400: #855FB1;
    --color-purple-100: #D9B8FF;
    --color-black: #28283D;
    --color-white: #FAFAFA;
    --color-grey: #87879D;

    --font-h1: 6.4rem;
    --line-h1: 6.4rem;
    --font-h2: 4rem;
    --line-h2: 4.4rem;
    --font-overline: 2.6rem;
    --line-overline: 2.6rem;
    --character-space-overline: .4rem;


    
}