$desktop: 144rem;
$table: 76.8rem;

.h1{
    font-weight: 900;
    line-height: var(--line-h1);
    color: var(--color-black);
    font-size: 4rem;
    @media(min-width: $table){
        font-size: 4.8rem;
    }
    @media(min-width: $desktop){
        font-size: var(--font-size-h1);
    }
}

.h2{
    font-weight: 400;
    line-height: var(--line-h2);
    color: var(--color-black);

    font-size: 3.6rem;
    @media(min-width: $table){
        font-size: var(--font-size-h2)
    }
}

.overline{
    font-weight: 900;
    font-size: var(--font-size-overline);
    line-height: var(--line-overline);
    letter-spacing: var(--character-space-overline);
    color: var(--color-green);
    text-transform: uppercase;
}

.body{
    font-weight: 400;
    line-height: var(--line-body);
    color: var(--color-grey);
    font-size: var(--font-size-body);
}

.header__call-to-action-message, .main__message-content{
    font-size: 1.6rem;
    @media(min-width: $desktop){
        font-size: var(--font-size-body);
    }
}